#grad {
    background: linear-gradient(to right, rgba(238, 238, 238, 1) , rgba(189, 195, 199, 1),  rgba(238, 238, 238, 1)); 
  }
.form-bg{
    background: #cf000f;
}
#number_bkg{
    width: 22px;
    height: 22px;
    background-color: #cf000f;
    border-radius: 7px;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#icon-user{
    background: url(../imgs/user_icon.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 0;
}
/*分页样式*/
.pagination-outer{ 
    text-align: center; 
}
.pagination{
    font-family: 'Rubik', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color:  #cf000f;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500px;
    line-height: 22px;
    height: 35px;
    width: 35px;
    margin: 0 5px 5px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff;
    background-color:  #cf000f;
}
.pagination li:first-child a.page-link:hover,
.pagination li:last-child a.page-link:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.pagination li a.page-link:before{
    content: attr(data-hover);
    color: rgba(255,255,255,0.2);
    font-size: 80px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    top: 10px;
}
@media only screen and (max-width: 480px){
    .pagination{ display: block; }
    .pagination li{
        margin-bottom: 10px;
        display: inline-block;
    }
}      

/*登录框样式*/
.form-horizontal{
    background: #fff;
    padding-bottom: 10px;
    border-radius: 15px;
    text-align: center; /*定义行内文字相当于父元素居中对齐*/
    
}
.form-horizontal .heading{
    color: black;
    display: block;
    font-size: 35px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}
.form-horizontal .form-group{
    padding: 0 40px;
    margin: 0 0 25px 0;
    position: relative;
}
.form-horizontal .form-group .icon-user{
    background: url("../imgs/user_icon.png") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 0;
}
.form-horizontal .form-control{
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
    background: #e0e0e0;
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group i{
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
    color: #9a9b9b;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
    color: #000;
}
.form-horizontal .main-checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #cf000f;
    border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #cf000f;
}
.form-horizontal .main-checkbox label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
    visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
}
.form-horizontal .text{
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    float: right;
    font-size: 14px;
    color: #fff;
    background: #cf000f;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
@media only screen and (max-width: 300px){
    .form-horizontal .form-group{
        padding: 0 25px;
    }
    .form-horizontal .form-group i{
        left: 45px;
    }
    .form-horizontal .btn{
        padding: 10px 20px;
    }
}
@font-face{
    font-family: "SourceHanSansCN";
    src: url('../fonts/SourceHanSansCN-Normal.otf');
}
.alignleft { 
    display: inline; 
    float: left; 
} 
.alignright { 
    display: inline; 
} 
.aligncenter { 
    clear: both; 
    display: block; 
    margin:auto; 
}
.row{
    margin-left: 0px;
    margin-right: 0px;
    width: 100.7%;
}
/*导航栏*/
.navbar-default {
    background-color: #ffffff;
    border-color: #cf000f;
  }
  .navbar-default .navbar-brand {
    color: #cf000f;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #fffafa;
  }
  .navbar-default .navbar-text {
    color: #cf000f;
  }
  .navbar-default .navbar-nav > li > a {
    color: #cf000f;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fffafa;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fffafa;
    background-color: #cf000f;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #fffafa;
    background-color: #cf000f;
  }
  .navbar-default .navbar-toggle {
    border-color: #cf000f;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #cf000f;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #cf000f;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #cf000f;
  }
  .navbar-default .navbar-link {
    color: #cf000f;
  }
  .navbar-default .navbar-link:hover {
    color: #fffafa;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #cf000f;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #fffafa;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #fffafa;
      background-color: #cf000f;
    }
  }
  .form-control：focus {
      border-color: #f03434;
  }
  .sidebar .sidebar-wrapper>.nav li.active>a:hover {
    color: #f5f5f5;
    font-weight: 600;
}
  .sidebar .sidebar-wrapper>.nav li.active>a:hover {
      color: #f5f5f5;
      font-weight: 600;
}
